<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.vat.mapper.RoleInfoMapper">
  <resultMap id="RoleInfoMap" type="com.mc.vat.entity.RoleInfo">
    <id column="ri_role_id" jdbcType="INTEGER" property="riRoleId" />
    <result column="ri_role_code" jdbcType="VARCHAR" property="riRoleCode" />
    <result column="ri_role_desc" jdbcType="VARCHAR" property="riRoleDesc" />
    <result column="ri_status" jdbcType="CHAR" property="riStatus" />
    <result column="ri_create_by" jdbcType="VARCHAR" property="riCreateBy" />
    <result column="ri_create_time" jdbcType="TIMESTAMP" property="riCreateTime" />
    <result column="ri_update_by" jdbcType="VARCHAR" property="riUpdateBy" />
    <result column="ri_update_time" jdbcType="TIMESTAMP" property="riUpdateTime" />
    <result column="ri_version" jdbcType="INTEGER" property="riVersion" />
  </resultMap>

  <sql id="Role_Column_List">
    ri_role_id, ri_role_code, ri_role_desc, ri_status, ri_create_by, ri_create_time,
    ri_update_by, ri_update_time, ri_version
  </sql>

  <select id="selectByRoleIds" resultMap="RoleInfoMap">
  select
  <include refid="Role_Column_List" />
  from role_info
  <where>
    <if test = "roleIds != null and roleIds.size != 0">
      and ri_role_id in
      <foreach collection="roleIds" item="roleId" index="index" open="(" close=")" separator=",">
        #{roleId}
      </foreach>
    </if>
  </where>
  </select>

  <select id="selectAllRoleInfo" resultMap="RoleInfoMap">
    select
    <include refid="Role_Column_List" />
    from role_info
  </select>

  <!-- id:当前SQL语句的唯一标识,对应dao里面的方法 -->
  <!-- parameterType:表示当前SQL接受的参数类型 -->
  <!-- resultType:表示当前SQL返回的结果类型 -->
  <!-- resultMap：自定义映射返回结果,resultType与resultMap二选一配置 -->
  <select id="selectByRoleId" parameterType="java.lang.Integer" resultType="com.mc.vat.entity.RoleInfo">
    select <include refid="Role_Column_List" />
    from role_info
    WHERE ri_role_id = #{roleId}
  </select>

  <select id="selectByRoleCode" resultType="com.mc.vat.entity.RoleInfo">
    select <include refid="Role_Column_List" />
    from role_info
    WHERE ri_role_code = #{roleCode}
  </select>

  <insert id="saveRole" parameterType="com.mc.vat.entity.RoleInfo"  keyProperty="riRoleId" useGeneratedKeys="true">
    insert into role_info(
      ri_role_code, ri_role_desc, ri_status, ri_create_by, ri_update_by
    )
    values (
             #{riRoleCode}, #{riRoleDesc}, #{riStatus}, #{riCreateBy},#{riUpdateBy}
           )
  </insert>

  <update id="updateRole" parameterType="com.mc.vat.entity.RoleInfo">
    update role_info set ri_version = ri_version + 1
    <if test="riRoleCode!=null and riRoleCode!=''">
      ,ri_role_code = #{riRoleCode}
    </if>
    <if test="riRoleDesc!=null and riRoleDesc!=''">
      ,ri_role_desc = #{riRoleDesc}
    </if>
    <if test="riStatus!=null and riStatus!=''">
      ,ri_status = #{riStatus}
    </if>
    <if test="riCreateBy!=null and riCreateBy!=''">
      ,ri_create_by = #{riCreateBy}
    </if>
    <if test="riUpdateBy!=null and riUpdateBy!=''">
      ,ri_update_by = #{riUpdateBy}
    </if>
    where ri_role_id = #{riRoleId} and ri_version = #{riVersion}
  </update>

  <delete id="deleteByRoleId">
    delete from role_info
    where ri_role_id = #{roleId}
  </delete>

</mapper>
