<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.vat.mapper.UserInfoMapper">
  <resultMap id="UserMap" type="com.mc.vat.entity.UserInfo">
    <id column="ui_user_id" jdbcType="INTEGER" property="uiUserId" />
    <result column="ui_username" jdbcType="VARCHAR" property="uiUsername" />
    <result column="ui_password" jdbcType="VARCHAR" property="uiPassword" />
    <result column="ui_salt" jdbcType="VARCHAR" property="uiSalt" />
    <result column="ui_user_desc" jdbcType="VARCHAR" property="uiUserDesc" />
    <result column="ui_sex" jdbcType="INTEGER" property="uiSex" />
    <result column="ui_mobile" jdbcType="VARCHAR" property="uiMobile" />
    <result column="ui_email" jdbcType="VARCHAR" property="uiEmail" />
    <result column="ui_avatar" jdbcType="VARCHAR" property="uiAvatar" />
    <result column="ui_status" jdbcType="CHAR" property="uiStatus" />
    <result column="ui_create_by" jdbcType="VARCHAR" property="uiCreateBy" />
    <result column="ui_create_time" jdbcType="TIMESTAMP" property="uiCreateTime" />
    <result column="ui_update_by" jdbcType="VARCHAR" property="uiUpdateBy" />
    <result column="ui_update_time" jdbcType="TIMESTAMP" property="uiUpdateTime" />
    <result column="ui_version" jdbcType="INTEGER" property="uiVersion" />
  </resultMap>
  <resultMap id="userRoleMap" type="com.mc.vat.entity.resp.UserRoleResp" >
    <!-- association: 处理一对一、多对一的情形 -->
    <association property="user" resultMap="UserMap" />
    <!--collection: 处理一对多的情形-->
    <collection property="roles" ofType="com.mc.vat.entity.RoleInfo">
      <id column="ri_role_id" property="riRoleId" />
      <result column="ri_role_code" property="riRoleCode" />
      <result column="ri_role_desc" property="riRoleDesc" />
      <result column="ri_status" property="riStatus" />
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    ui_user_id, ui_username, ui_password, ui_salt, ui_user_desc, ui_sex, ui_mobile, ui_email,
    ui_avatar, ui_status, ui_create_by, ui_create_time, ui_update_by, ui_update_time,
    ui_version
  </sql>

  <select id="getAllUserAllRole" resultMap="userRoleMap">
    SELECT
    <include refid="Base_Column_List" />,
    ri.ri_role_id,ri.ri_role_code,ri.ri_role_desc,ri.ri_status
    FROM user_info ui
    LEFT JOIN user_role_table urt
    ON ui.ui_user_id = urt.urt_user_id
    LEFT JOIN role_info ri
    ON urt.urt_role_id = ri.ri_role_id
  </select>
  <select id="selectByUserName" resultMap="UserMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where ui_username = #{username}
  </select>
  <select id="selectAllUserInfo" resultMap="UserMap">
    select
    <include refid="Base_Column_List" />
    from user_info
  </select>
  <insert id="saveUser" parameterType="com.mc.vat.entity.UserInfo"  keyProperty="uiUserId" useGeneratedKeys="true">
    insert into user_info(
      ui_username, ui_password, ui_user_desc, ui_sex, ui_mobile, ui_email,ui_avatar,ui_status,ui_create_by,ui_update_by
    )
    values (
      #{uiUsername}, #{uiPassword}, #{uiUserDesc}, #{uiSex},
      #{uiMobile}, #{uiEmail}, #{uiAvatar}, #{uiStatus}, #{uiCreateBy},#{uiUpdateBy}
    )
  </insert>
  <update id="updateUser" parameterType="com.mc.vat.entity.UserInfo">
    update user_info set ui_version = ui_version + 1
    <if test="uiUsername!=null and uiUsername!=''">
      ,ui_username = #{uiUsername}
    </if>
    <if test="uiPassword!=null and uiPassword!=''">
      ,ui_password = #{uiPassword}
    </if>
    <if test="uiUserDesc!=null and uiUserDesc!=''">
      ,ui_user_desc = #{uiUserDesc}
    </if>
    <if test="uiSex!=null and uiSex!=''">
      ,ui_sex = #{uiSex}
    </if>
    <if test="uiMobile!=null and uiMobile!=''">
      ,ui_mobile = #{uiMobile}
    </if>
    <if test="uiEmail!=null and uiEmail!=''">
      ,ui_email = #{uiEmail}
    </if>
    <if test="uiAvatar!=null and uiAvatar!=''">
      ,ui_avatar = #{uiAvatar}
    </if>
    <if test="uiStatus!=null and uiStatus!=''">
      ,ui_status = #{uiStatus}
    </if>
    <if test="uiCreateBy!=null and uiCreateBy!=''">
      ,ui_create_by = #{uiCreateBy}
    </if>
    <if test="uiUpdateBy!=null and uiUpdateBy!=''">
      ,ui_update_by = #{uiUpdateBy}
    </if>
    where ui_user_id = #{uiUserId} and ui_version = #{uiVersion}
  </update>
  <update id="deleteByUserId">
    update user_info set ui_status = 1
    where ui_user_id = #{userId}
  </update>
</mapper>
